<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>소원</key>
	<string>취업</string>
	<key>직업</key>
	<string>백수</string>
	<key>gender</key>
	<string>남</string>
	<key>married</key>
	<false/>
	<key>국적</key>
	<array>
		<string>조선</string>
		<string>율도국</string>
	</array>
	<key>나이</key>
	<integer>27</integer>
	<key>name</key>
	<string>윤형찬</string>
</dict>
</plist>
